<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <link rel="stylesheet" href="{%static 'login.css'%}">
  <title>SMC CLINIC DOCTOR LOGIN</title>
</head>
<body>
   
   
   <!-- <div class='hero'>
        <form class="input-group" method='post' action='/doctor'>
            {% csrf_token %}
            <input type="text" class="input-field" placeholder="Username(should end with doc)" required name="username">
            <input type="password" class="input-field" placeholder="Enter password" required name="password">
            
            <button type="submit" class="submit-btn" name="login">Login</button>
           
        </form>
    </div> -->
    <h1 style="text-align: center;">SMC CLINIC DOCTOR LOGIN<h1>

    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form action="/doctor" method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="text" name="username" placeholder="Username" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit" class="submit-btn" name="login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
        
        