
<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'patientform.css'%}" type="text/css">
    <title>smc clinic patient form</title>
</head>
<!DOCTYPE html>
<body>
    <div class="main">
        <div class="register">
            <h1>PATIENT APPOINTMENT FORM</h1>
            <form id="register" method="post" action="">
                {% csrf_token %}
                <label for="name">NAME</label><br>
                <input type="text" name="p_name" id="name" placeholder="Enter your full name" required><br><br>
                <label for="age">AGE</label><br>
                <input type="number" name="p_age" id="age" placeholder="How old are you?" required><br><br>
                <label for="eid">EMAIL ID</label><br>
                <input type="email" name="p_emailid" id="eid" placeholder="Enter a valid Email-Id"><br><br>
                <div class="gender-options">
                    <p>Gender</p>
                    <input  name="p_gen" type='radio' id="male" value='male'>&nbsp;
                    <label for='male'>Male</label>&nbsp;
                    <input  name="p_gen" type='radio' id="female" value='female'>&nbsp; 
                    <label for='female'>Female</label>&nbsp;
                    <input  type='radio' name="p_gen" id="others" value='others'>
                    <label for='others'>Others</label>
                  </div>
                <br><br><label for="pno">Phone number:</label>&nbsp;
                <input type="tel" name="p_num" id="pno" placeholder="Enter a 10-digit phone number" required><br>
                <br>Write about your symptoms<textarea name="symptoms" rows="2" cols="20"></textarea>
                <br>
            </form>
            <input type="submit" name="submit" value="Submit" id="submit">&nbsp;
            <input type="reset" name="reset" value="Reset"  id="reset">  
        </div><!--end register-->  
    </div><!--end main-->
</body>
</html>
