<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
 
  <title>SMC CLINIC RECEPTIONIST LOGIN</title>
    <link rel="stylesheet" href="{%static 'login.css'%}">    
</head>
<body>
    <h1 style="text-align: center;">SMC CLINIC ADMIN LOGIN</h1>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form action="/receptionist" method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="text" name="username" placeholder="Username (should end with rep)" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit" class="submit-btn" name="login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    </body>